body {
  padding: 20px;
  font-family: sans-serif;
  background-color: #f9f9f9;
}

h1 {
  padding: 0px;
  margin: 0px;
}

details {
    background-color: #fafafa;
    border: 1px solid #a0a0a0;
    border-radius: 4px;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-shadow: 0px 1px 2px;
    max-width: 100%;
}

summary {
    font-size: larger;
    cursor: default;
    border-radius: 4px;
    margin: -4px;
    padding: 4px;
}

summary:hover {
    background-color: #e0e0e0;
}

details[open] > summary {
    border-bottom: 1px solid #a0a0a0;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #00000070;
}

details > div {
  padding: 12px;
}

fieldset {
  margin-top: 8px;
  margin-bottom: 8px;
}

legend {
  padding-left: 4px;
  padding-right: 4px;
}

.loopy-grid {
  margin: 8px;
  display: grid;
  gap: 0px;
  user-select: none;
}

.loopy-grid-2 {
  width: 156px;
  height: 156px;
  grid-template-columns: 12px 60px 12px 60px 12px;
  grid-template-rows: 12px 60px 12px 60px 12px;
}

.loopy-grid-3 {
  width: 228px;
  height: 228px;
  grid-template-columns: 12px 60px 12px 60px 12px 60px 12px;
  grid-template-rows: 12px 60px 12px 60px 12px 60px 12px;
}

.loopy-grid-4 {
  width: 300px;
  height: 300px;
  grid-template-columns: 12px 60px 12px 60px 12px 60px 12px 60px 12px;
  grid-template-rows: 12px 60px 12px 60px 12px 60px 12px 60px 12px;
}

.loopy-grid-5 {
  width: 372px;
  height: 372px;
  grid-template-columns: 12px 60px 12px 60px 12px 60px 12px 60px 12px 60px 12px;
  grid-template-rows: 12px 60px 12px 60px 12px 60px 12px 60px 12px 60px 12px;
}

.loopy-grid-6 {
  width: 370px;
  height: 370px;
  grid-template-columns: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
  grid-template-rows: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
}

.loopy-grid-7 {
  width: 430px;
  height: 430px;
  grid-template-columns: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
  grid-template-rows: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
}

.loopy-grid-8 {
  width: 490px;
  height: 490px;
  grid-template-columns: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
  grid-template-rows: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
}


.loopy-grid-9 {
  width: 550px;
  height: 550px;
  grid-template-columns: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
  grid-template-rows: 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
}

.loopy-dot {
  background-color: #000000;
  border-radius: 50%;
  z-index: 1;
}

.loopy-dot-contradiction {
  background-color: #d00000;
}

.loopy-hint {
  height: 100%;
  width: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.loopy-hint-contradiction {
  background-color: #ffb0b0;
}

.loopy-edge-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.loopy-h-edge-container {
  height: 200%;
  width: calc(100% + 4px);
  top: -50%;
  left: -2px;
}

.loopy-v-edge-container {
  height: calc(100% + 4px);
  width: 200%;
  left: -50%;
  top: -2px;
}

.loopy-h-edge {
  width: 100%;
  height: 6px;
}

.loopy-v-edge {
  width: 6px;
  height: 100%
}

.loopy-h-edge-unknown {
  background: repeating-linear-gradient(90deg, #aaaaaa 0, #aaaaaa 10px, transparent 10px, transparent 18px);
}

.loopy-v-edge-unknown {
  background: repeating-linear-gradient(180deg, #aaaaaa 0, #aaaaaa 10px, transparent 10px, transparent 18px);
}

.loopy-h-edge-contradiction {
  background: repeating-linear-gradient(90deg, #ff6060 0, #ff6060 10px, #ff9090 10px, #ff9090 18px);
}

.loopy-edge-container:hover .loopy-h-edge-unknown {
  background: repeating-linear-gradient(90deg, #555555 0, #555555 10px, transparent 10px, transparent 18px);
}

.loopy-edge-container:hover .loopy-v-edge-unknown {
  background: repeating-linear-gradient(180deg, #555555 0, #555555 10px, transparent 10px, transparent 18px);
}

.loopy-edge-on {
  background: #000000
}
.loopy-edge-off {
  background: transparent
}

.towers-grid {
  margin: 8px;
  display: grid;
  gap: 0px;
  user-select: none;
}

.towers-validation {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  width: 360px;
  overflow-y: scroll;
}

.towers-grid-2 {
  width: 400px;
  height: 400px;
  grid-template-columns: 0.7fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 0.7fr;
}

.towers-validation-2 {
  height: 398px;
}

.towers-grid-3 {
  width: 500px;
  height: 500px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-3 {
  height: 498px;
}

.towers-grid-4 {
  width: 500px;
  height: 500px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-4 {
  height: 498px;
}

.towers-grid-5 {
  width: 660px;
  height: 660px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-5 {
  height: 658px;
}

.towers-grid-6 {
  width: 800px;
  height: 800px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-6 {
  height: 798px;
}

.towers-grid-7 {
  width: 900px;
  height: 900px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-7 {
  height: 898px;
}

.towers-grid-8 {
  width: 900px;
  height: 900px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-8 {
  height: 898px;
}

.towers-grid-9 {
  width: 900px;
  height: 900px;
  grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
  grid-template-rows: 0.7fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.7fr;
}

.towers-validation-9 {
  height: 898px;
}

.latin-cell {
  background-color: white;
  position: relative;
}

.latin-possibilities {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 2px;
}

.latin-possibility {
  z-index: 2;
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin: 2px;
  background-color: #fafafa;
}

.latin-possibility-2-per-row {
  width: calc((100% / 2) - 6px);
  height: calc((100% / 2) - 6px);
  font-size: 20px;
}

.latin-possibility-3-per-row {
  width: calc((100% / 3) - 6px);
  height: calc((100% / 3) - 6px);
  font-size: 16px;
}

.latin-possibility:hover {
  background-color: #e0e0e0;
}

.possibility-highlight {
  background-color: #e0e0c0;
}

.crossed-out {
  cursor: default;
  opacity: 0.2;
}

.crossed-out:hover {
  cursor: default;
  background-color: #e0e0e0;
  opacity: 0.2;
}

.latin-selection {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.cell-visibility-indicator-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.cell-visibility-indicator {
  position: absolute;
}

.cell-visibility-indicator-hover {
  background-color: #00000050;
}

.cell-visibility-indicator-seen {
  background-color: #00800050;
}

.cell-visibility-indicator-hidden {
  background-color: #80000050;
}

.cell-visibility-indicator-contradiction {
  background-color: #80800050;
}

.towers-hint {
  width: 60px;
  height: 60px;
  border-radius: 2px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.towers-hint-marked {
  background: linear-gradient(to bottom right, transparent 45%, #808080 48%, #808080 52%, transparent 55%);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.interface-selector {
  border: solid;
  width: 20px;
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #d0d0d0;
}

.interface-selector-selected {
  background-color: #ffffff;
}

.labeled-checkbox {
  display: inline-block;
  padding-left: 2px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.labeled-checkbox-alternate {
  padding-left: 4px;
}

.labeled-checkbox:hover {
  border-radius: 2px;
  background-color: #e0e0e0;
}
